language: python
python:
  - 2.7
# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
#  - python bootstrap.py
   - pip install zc.buildout
   - buildout
# command to run tests, e.g. python setup.py test
script:
  - bin/coverage run bin/nosetests -sv

after_sucess:
  - pip install coveralls
  - coveralls

